{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.address) }}
    {{ form_row(form.active) }}
    {{ form_row(form.userRoles) }}
    <div class="d-flex justify-content-end">
        <a href="{{ path('user_index') }}" type="button" class="btn btn-light mx-3">Отмена</a>
        <button type="submit" class="btn btn-success">{{ button_label|default('Сохранить') }}</button>
    </div>
{{ form_end(form) }}