{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>
    <a href="{{ path('user_new') }}">Create new</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.userRoles.name }}</td>
                {#<td>{{ user.createDate ? user.createDate|date('Y-m-d') : '' }}</td>#}
                {#<td>{{ user.updateDate ? user.updateDate|date('d-m-Y') : '' }}</td>#}
                {#<td>{{ user.active ? 'Yes' : 'No' }}</td>
                <td>{{ user.deleted ? 'Yes' : 'No' }}</td>#}
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}