{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block pageHeader %}<h1 class="display-4">Пользователи</h1>{% endblock %}

{% block body %}
    <a class="btn btn-success mb-2" href="{{ path('user_new') }}">Новый пользователь</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя, Фамилия</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Адресс</th>
                <th>Роль</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.userRoles.name }}</td>
                {#<td>{{ user.createDate ? user.createDate|date('Y-m-d') : '' }}</td>#}
                {#<td>{{ user.updateDate ? user.updateDate|date('d-m-Y') : '' }}</td>#}
                {#<td>{{ user.active ? 'Yes' : 'No' }}</td>
                <td>{{ user.deleted ? 'Yes' : 'No' }}</td>#}
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="text-success"><i data-feather="edit">&nbsp;</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}