{% extends 'base.html.twig' %}

{% set pageTitle = (category is defined) ? category.name : page.name|default("Alpha-Hydro") %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block pageHeader %}
    {{ include('base/components/_page_header.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('base/components/_sidebar.html.twig') }}
{% endblock %}

{% block content %}
    <div class="page-content mt2">
        {% if page.image is defined and page.image is not null and page.image != ''%}
            <img src="{{ page.image }}" alt="{{ page.name }}" class="pull-right">
        {% endif %}
        {{ page.contentHtml|default('')|raw }}
    </div>
{% endblock %}
