<table class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Update_date</th>
        <th scope="col">Author</th>
        <th scope="col">Active</th>
        <th scope="col">Deleted</th>
        {#<th>Path</th>#}
        {#<th>SContent</th>#}
        {#<th>Thumb</th>#}
        {#<th>SectionSiteId</th>#}
        {#<th>Create_date</th>#}
        {#<th>Image</th>#}
        {#<th>UploadPath</th>#}
        {#<th>Description</th>#}
        {#<th>ContentHtml</th>#}
        {#<th>FullPath</th>#}
        {#<th>MetaTitle</th>#}
        {#<th>MetaKeywords</th>#}
        {#<th>MetaDescription</th>#}
        <th scope="col">actions</th>
    </tr>
    </thead>
    <tbody>
    {% for medium in media %}
        <tr>
            <td>{{ medium.id }}</td>
            <td>{{ medium.category.name | default('нет') }}</td>
            <td>
                {% if medium.category.path is defined and medium.path is defined %}
                <a href="{{ path('media_post_view', {'pathCategory': medium.category.path, 'path': medium.path}) }}">
                    <i data-feather="external-link">&nbsp;</i>&nbsp;{{ medium.name }}
                </a>
                {% else %}
                    {{ medium.name }}
                {% endif %}
            </td>
            <td>{{ medium.updateDate ? medium.updateDate|date('Y-m-d') : '' }}</td>
            <td>{{ medium.author.name | default('нет') }}</td>
            <td>{{ medium.active ? 'Yes' : 'No' }}</td>
            <td>{{ medium.deleted ? 'Yes' : 'No' }}</td>
            {#<td>{{ medium.path }}</td>#}
            {#<td>{{ medium.sContent }}</td>#}
            {#<td>{{ medium.thumb }}</td>#}
            {#<td>{{ medium.sectionSiteId }}</td>#}
            {#<td>{{ medium.createDate ? medium.createDate|date('Y-m-d') : '' }}</td>#}
            {#<td>{{ medium.image }}</td>#}
            {#<td>{{ medium.uploadPath }}</td>#}
            {#<td>{{ medium.description }}</td>#}
            {#<td>{{ medium.contentHtml }}</td>#}
            {#<td>{{ medium.fullPath }}</td>#}
            {#<td>{{ medium.metaTitle }}</td>#}
            {#<td>{{ medium.metaKeywords }}</td>#}
            {#<td>{{ medium.metaDescription }}</td>#}
            <td>
                <a href="{{ path('media_edit', {'id': medium.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
