<table class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Название</th>
        <th scope="col">Категория</th>
        <th scope="col">Дата</th>
        <th scope="col">Автор</th>
        <th colspan="3">&nbsp;</th>
        {#<th>Path</th>#}
        {#<th>SContent</th>#}
        {#<th>Thumb</th>#}
        {#<th>SectionSiteId</th>#}
        {#<th>Create_date</th>#}
        {#<th>Image</th>#}
        {#<th>UploadPath</th>#}
        {#<th>Description</th>#}
        {#<th>ContentHtml</th>#}
        {#<th>FullPath</th>#}
        {#<th>MetaTitle</th>#}
        {#<th>MetaKeywords</th>#}
        {#<th>MetaDescription</th>#}
    </tr>
    </thead>
    <tbody>
    {% for medium in media %}
        <tr>
            <td>{{ medium.id }}</td>
            <td>
                {% if medium.category.path is defined and medium.path is defined %}
                <a href="{{ path('media_post_view', {'pathCategory': medium.category.path, 'path': medium.path}) }}">
                    <i data-feather="external-link">&nbsp;</i>&nbsp;{{ medium.name }}
                </a>
                {% else %}
                    {{ medium.name }}
                {% endif %}
            </td>
            <td>{{ medium.category.name | default('нет') }}</td>
            <td>{{ medium.updateDate ? medium.updateDate|date('d-m-Y') : '' }}</td>
            <td>{{ medium.author.name | default('нет') }}</td>
            <td>
                <a href="{{ path('media_edit', {'id': medium.id}) }}"><i data-feather="edit-3">&nbsp;</i></a>
            </td>
            <td>
                <a href="{{ path('media_check_active', {'id': medium.id}) }}" class="text-{{medium.active ? 'secondary' : 'success'}}">
                    <i data-feather="{{ medium.active ? 'eye-off' : 'eye' }}">&nbsp;</i>
                </a>
            </td>
            <td>
                <a href="{{ path('media_check_archive', {'id': medium.id}) }}" class="text-{{medium.active ? 'danger' : 'success'}}">
                    <i data-feather="{{ medium.deleted ? 'upload' : 'archive' }}">&nbsp;</i>
                </a>
            </td>
            {#<td>{{ medium.path }}</td>#}
            {#<td>{{ medium.sContent }}</td>#}
            {#<td>{{ medium.thumb }}</td>#}
            {#<td>{{ medium.sectionSiteId }}</td>#}
            {#<td>{{ medium.createDate ? medium.createDate|date('Y-m-d') : '' }}</td>#}
            {#<td>{{ medium.image }}</td>#}
            {#<td>{{ medium.uploadPath }}</td>#}
            {#<td>{{ medium.description }}</td>#}
            {#<td>{{ medium.contentHtml }}</td>#}
            {#<td>{{ medium.fullPath }}</td>#}
            {#<td>{{ medium.metaTitle }}</td>#}
            {#<td>{{ medium.metaKeywords }}</td>#}
            {#<td>{{ medium.metaDescription }}</td>#}
        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
