<a href="#" class="alpha-icon-print mr2" data-toggle="modal" data-target="#selectModifications_{{ product.id }}">Паспорт</a>
<div class="modal fade" id="selectModifications_{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="selectModificationsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ product.name ~ ', ' ~ product.sku }}</h4>
            </div>
            <div class="modal-body">
                <form id="printPassport" name="checkModifications" action="{{ path('passport_product_pdf', {'id': product.id}) }}" method="post" enctype="multipart/form-data" target="_blank" rel="noopener">
                    <table class="text-size-small text-center table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" id="checkAll" value="on" data-modification="all"/></th>
                                <th class="text-center">Модификация</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for modification in product.modifications %}
                            <tr>
                                <td><input type="checkbox" name="modifications[]" value="{{ modification.id }}" data-modification="{{ modification.id }}"/></td>
                                <td>{{ modification.sku }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="submit" form="printPassport" class="btn btn-success">Создать паспорт</button>
            </div>
        </div>
    </div>
</div>