{% spaceless %}
<div class="col-md-9 col-md-offset-3">
    <div class="page-header">
        <h1 class="h3 secondary-header">
            {{ product.sku }}
            <small>{{ product.name }}</small>
        </h1>
        <div class="print hidden-xs">
            {% if is_granted('ROLE_MANAGER') %}
                {#<a href="{{ path('passport_product_pdf', {'fullPathCategory': category.fullPath, 'path': product.path}) }}" class="alpha-icon-print mr2" target="_blank"><span class="">Паспорт</span></a>#}
                {{ include('base/catalog/_product_modal_passport.html.twig') }}
            {% endif %}
            <a href="{{ path('catalog_product_pdf', {'id': product.id})}}" class="alpha-icon-print" target="_blank">Печать</a>
        </div>
    </div>
</div>
{% endspaceless %}