{% extends 'base/catalog/index.html.twig' %}

{% block content %}
    <div class="product-list">
        {% for product in category.products %}
            <div class="row product-item">
                <div class="col-sm-3">
                    <div class="thumbnail product-images">
                        <a href="{{ path('catalog_product_view', {'fullPathCategory': category.fullPath, 'path': product.path}) }}">
                            {% if product.draft is null and product.draft != '' %}
                                <img src="{{ asset(product.uploadPathDraft ~ product.draft) }}" alt="{{ product.name }}">
                            {% else %}
                                <img src="{{ asset('files/images/no-foto.jpg') }}" alt="{{ product.name }}">
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <h2 class="h4">
                        <a href="{{ path('catalog_product_view', {'fullPathCategory': category.fullPath, 'path': product.path}) }}">{{ product.sku }}</a>
                        <small>{{ product.name }}</small>
                    </h2>
                    {{ include('base/catalog/_product_params.html.twig') }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}