{% extends 'base.html.twig' %}

{% set pageTitle = searchQuery ? 'Результаты поиска' : 'Поиск' %}

{% set productions = [
    {'name':'Гидростанции, гидравлические стенды и модули', 'link': path('index', {'full_path': 'gidrostancii'}), 'img': 'upload/manufacture/categories/0/12042018.png'},
] %}

{% set partners = [
    {'name':'Гидроаппаратура Wandfluh', 'link': path('wandfluh_index'), 'img': 'upload/wandfluh/img/wf_12042018.png'},
] %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block pageHeader %}
    {{ include('base/components/_page_header.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('base/index/_home_page_sidebar.html.twig') }}
{% endblock %}

{% block content %}
    <div class="row mt1">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <input name="query" type="text" class="form-control" placeholder="Поисковый запрос..." style="height: auto" value="{{ searchQuery | default('') }}">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search">&nbsp;</i></button>
                        </span>
                </div>
            </form>
        </div>
    </div>
    {% if productList is defined and productList is not empty %}
        {{ include('base/search/_search_list_item.html.twig') }}
    {% elseif searchQuery != '' %}
        <p class="ah-info-block ah-info-block-danger">По Вашему запросу <kbd>{{ searchQuery }}</kbd> ничего не
            найдено... Попробуйте повотрить поиск.</p>
    {% else %}
        <p class="ah-info-block ah-info-block-info">Введите поисковый запрос.</p>
    {% endif %}
{% endblock %}