<table class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Сортировка в группе</th>
        <th scope="col">Наименование</th>
        <th scope="col">Родительская категория</th>
        {#<th>Create_date</th>
        <th>Update_date</th>
        <th>Active</th>
        <th>Deleted</th>#}
        {#<th>Image</th>
        <th>UploadPath</th>
        <th>Description</th>
        <th>ContentHtml</th>
        <th>Path</th>
        <th>FullPath</th>
        <th>MetaTitle</th>
        <th>MetaKeywords</th>
        <th>MetaDescription</th>#}
        <th colspan="4" class="text-center">actions</th>
    </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.sorting }}</td>
            <td><a href="{{ path('categories_view', {'id': category.id}) }}">{{ category.name }}</a></td>
            <td>
                {% if category.parent is not null %}
                    <a href="{{ path('categories_view', {'id': category.parent.id}) }}">{{ category.parent.name }}</a>
                {% else %}
                    Каталог
                {% endif %}
            </td>
            {#<td>{{ category.createDate ? category.createDate|date('Y-m-d') : '' }}</td>
            <td>{{ category.updateDate ? category.updateDate|date('Y-m-d') : '' }}</td>
            <td>{{ category.active ? 'Yes' : 'No' }}</td>
            <td>{{ category.deleted ? 'Yes' : 'No' }}</td>#}
            {#<td>{{ category.image }}</td>
            <td>{{ category.uploadPath }}</td>
            <td>{{ category.description }}</td>
            <td>{{ category.contentHtml }}</td>
            <td>{{ category.path }}</td>
            <td>{{ category.fullPath }}</td>
            <td>{{ category.metaTitle }}</td>
            <td>{{ category.metaKeywords }}</td>
            <td>{{ category.metaDescription }}</td>#}
            <td>
                <a href="{{ path('catalog_list', {'fullPath': category.fullPath}) }}" target="_blank">
                    <i data-feather="external-link">&nbsp;</i>
                </a>
            </td>
            <td>
                <a href="{{ path('categories_edit', {'id': category.id}) }}">
                    <i data-feather="edit-3">&nbsp;</i>
                </a>
            </td>
            <td>
                <a href="{{ path('categories_check_active', {'id': category.id}) }}" class="text-{{ category.active ? 'warning' : 'success' }}">
                    <i data-feather="{{category.active ? 'eye-off' : 'eye'}}">&nbsp;</i>
                </a>
            </td>
            <td>
                <a href="{{ path('categories_check_archive', {'id': category.id}) }}"  class="text-{{ category.deleted ? 'success' : 'danger' }}">
                    <i data-feather="{{category.deleted ? 'upload' : 'archive'}}">&nbsp;</i>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
