{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<fieldset>
    {{ form_row(form.image) }}
    {{ form_row(form.name) }}
    {{ form_row(form.parent) }}
    <div class="form-group">
        <label class="form-control-label">Родительская категория</label>
        <div class="input-group mb-3">
            <input id="parentCategoryName" type="text" class="form-control" placeholder="{{ category.parent.name | default('Каталог') }}" aria-label="Родительская категория" readonly data-current="{{ category.id | default('') }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#categoriesList">
                    <i data-feather="refresh-ccw">&nbsp;</i>
                </button>
            </div>
        </div>
    </div>
    {{ form_row(form.description) }}
</fieldset>
<fieldset>
    <legend>SEO</legend>
    {{ form_row(form.metaTitle) }}
    {{ form_row(form.metaKeywords) }}
    {{ form_row(form.metaDescription) }}
</fieldset>
<fieldset>
    <legend>Активность, сортировка</legend>
    {{ form_row(form.active) }}
    {{ form_row(form.sorting) }}
</fieldset>
<button class="btn btn-success">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}

{{ include('admin/categories/_modal_categories_choice_list.html.twig') }}