{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set uploadPath =  'upload/categories/' %}

{{ form_start(form) }}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            {% if category.fileImage is not null %}
                <img id="imageUploadView" src="{{ asset(uploadPath ~ category.fileImage.fileName) }}" alt="{{ category.name }}" class="card-img-top p-2" />
            {% else %}
                <img id="imageUploadView" src="{{ asset('files/images/no-foto.jpg') }}" alt="{{ category.name }}" class="card-img-top p-2" />
            {% endif %}
            <div class="card-body text-center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success btn-action-img" data-img-event="download" data-target="imageUploadView"><i data-feather="download">&nbsp;</i></button>
                    <button type="button" class="btn btn-danger btn-action-img" data-img-event="delete" data-target="imageUploadView" data-path-delete="{{ path('category_delete_image', {'id': category.id}) }}"><i data-feather="trash-2">&nbsp;</i></button>
                </div>
            </div>
        </div>
        <div class="invisible">
            {{ form_widget(form.imageUpload,  {'id': 'imageUpload', 'attr': {'assept' : 'image/*'} }) }}
        </div>
    </div>
    <div class="col-md-9">
        {{ form_row(form.name) }}
        {{ form_row(form.parent) }}
        <div class="form-group">
            <label class="form-control-label">Родительская категория</label>
            <div class="input-group mb-3">
                <input id="parentCategoryName" type="text" class="form-control" placeholder="{{ category.parent.name | default('Каталог') }}" aria-label="Родительская категория" readonly data-current="{{ category.id | default('') }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#categoriesList">
                        <i data-feather="refresh-ccw">&nbsp;</i>
                    </button>
                </div>
            </div>
        </div>
        {{ form_row(form.description) }}
        {{ form_row(form.metaTitle) }}
        {{ form_row(form.metaKeywords) }}
        {{ form_row(form.metaDescription) }}
        {{ form_row(form.sorting) }}
    </div>
</div>
<div class="d-flex justify-content-end">
    <a href="{% if category.parent %}}{{ path('categories_view', {'id': category.parent.id}) }}{% else %}{{ path('categories_index') }}{% endif %}" class="btn btn-light mx-3">Отмена</a>
    <button type="submit" class="btn btn-success">{{ button_label|default('Сохранить') }}</button>
</div>
{{ form_end(form) }}

{{ include('admin/categories/_modal_categories_choice_list.html.twig') }}