{% extends 'admin.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block pageHeader %}<h1 class="display-4 mb-4">{{ category.name }}</h1>{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-2">
        <a class="btn btn-success" href="{{ path('categories_add') }}">Новая категория</a>
        <div class="btn-group" role="group" aria-label="Category list">
            <a href="{% if category.parent is not null %}{{  path('categories_view', {'id': category.parent.id}) }}{% else %}{{ path('categories_index') }}{% endif %}" class="btn btn-secondary">
                <i data-feather="corner-left-up">&nbsp;</i>
            </a>
            <a href="{{ path('catalog_list', {'fullPath': category.fullPath}) }}" class="btn btn-secondary" target="_blank">
                <i data-feather="external-link">&nbsp;</i>
            </a>
            <a href="{{ path('categories_edit', {'id': category.id}) }}" class="btn btn-secondary">
                <i data-feather="edit-3">&nbsp;</i>
            </a>
            <a href="{{ path('categories_check_active', {'id': category.id}) }}" class="btn btn-secondary">
                <i data-feather="{{category.active ? 'eye-off' : 'eye'}}">&nbsp;</i>
            </a>
            <a href="{{ path('categories_check_archive', {'id': category.id}) }}" class="btn btn-secondary">
                <i data-feather="{{category.deleted ? 'upload' : 'archive'}}">&nbsp;</i>
            </a>
        </div>
    </div>
    {{ include('admin/categories/_products_table.html.twig') }}
{% endblock %}
