{% extends 'admin.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block pageHeader %}<h1 class="display-4 mb-4">{{ category.name }}</h1>{% endblock %}

{% block body %}
    <div class="btn-group mb-2 d-flex justify-content-start" role="group" aria-label="Basic example">
        <a href="{% if category.parent is not null %}{{  path('categories_view', {'id': category.parent.id}) }}{% else %}{{ path('categories_index') }}{% endif %}" class="btn btn-secondary">
            <i data-feather="corner-left-up">&nbsp;</i>
        </a>

        <a href="{{ path('catalog_list', {'fullPath': category.fullPath}) }}" class="btn btn-secondary">
            <i data-feather="external-link">&nbsp;</i>
        </a>
        <a href="{{ path('categories_edit', {'id': category.id}) }}" class="btn btn-secondary">
            <i data-feather="edit-3">&nbsp;</i>
        </a>
        <a href="{{ path('categories_delete', {'id': category.id}) }}" class="btn btn-secondary">
            <i data-feather="trash-2">&nbsp;</i>
        </a>
    </div>
    {{ include('admin/categories/_categories_table.html.twig') }}
    <a class="btn btn-success" href="{{ path('categories_add') }}">Новая категория</a>
{% endblock %}