{% set uploadPath =  'upload/media/items/' %}

<div class="row">
    {% for post in posts %}
        <div class="media media-item line line-dotted">
            <div class="media-left col-xs-4 col-sm-3">
                <div class="thumbnail col-xs-12 col-sm-10 hover-shadow">
                    <a href="{{ path('media_post_view', {'pathCategory': category.path, 'path': post.path}) }}">
                        {% if post.image %}
                            <img src="{{ asset(uploadPath ~ post.image) }}" alt="{{ post.name }}" class="media-object">
                        {% else %}
                            <img src="{{ asset(uploadPath ~ 'LOGO_shlang.png') }}" alt="{{ post.name }}" class="media-object">
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{ path('media_post_view', {'pathCategory': category.path, 'path': post.path}) }}">{{ post.name }}</a>
                </h4>
                <p class="text-muted text-size-small">
                    <small><em>{{ post.createDate | date('d.m.Y') ~ ' г.' }}</em></small>
                </p>
                {{ post.sContent | raw }}
            </div>
        </div>
    {% endfor %}
</div>