{% extends 'base/components/_sidebar.html.twig' %}

{% block sidebarList %}
    <ul class="list-group crop-bottom-shadow">
        <li class="list-group-item sidebar-heading">
            <span class="span">Каталог</span>
        </li>
        {% for item in categories %}
            <li class="list-group-item sidebar-item">
                <a href="{{ path('catalog_list', {'fullPath':item.fullPath}) }}">{{ item.name }}</a>
            </li>
        {% endfor %}
        {% for item in productions %}
            <li class="list-group-item sidebar-item">
                <a href="{{ item.link }}">{{ item.name }}</a>
            </li>
        {% endfor %}
        {% for item in partners %}
            <li class="list-group-item sidebar-item">
                <a href="{{ item.link }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block actionNews %}
    {% if post is defined %}
    <div class="panel panel-default crop-bottom-shadow mt5">
        <div class="panel-heading">
            <h3 class="panel-title text-uppercase">{{ post.category.name }}</h3>
        </div>
        <div class="panel-body">
            <p>{{ post.sContent | raw }}</p>
            <p class="text-right"><a href="{{ path('media_post_view', {'pathCategory': post.category.path, 'path': post.path}) }}">подробнее...</a></p>
        </div>
    </div>
    {% endif %}
{% endblock %}