<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}Dashboard{% endblock %} - Альфа-Гидро</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/dashboard.css') }}"/>
    {% endblock %}
</head>
<body class="app">
    {{ include('admin/components/_navbar.html.twig') }}
<header class="app-header">

</header>

<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            {{ include('admin/components/_sidebar.html.twig') }}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% block pageHeader %}{% endblock %}
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>

</div>

<footer class="app-footer">
    <div class="container">
        <hr/>
        {% block footer %}
            <p class="text-center">
                &copy; 2009 - {{ "now"|date("Y") }} Альфа-Гидро. Гидравлические системы и компоненты.
            </p>
        {% endblock %}
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
