<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Категории</span>
    <a class="d-flex align-items-center text-muted" href="#">
        <i data-feather="plus-circle">&nbsp;</i>
    </a>
</h6>
<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('categories_list') }}">
            <i data-feather="list">&nbsp;</i>
            Таблица
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('categories_archive') }}">
            <i data-feather="archive">&nbsp;</i>
            Архив
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('categories_disabled') }}">
            <i data-feather="eye-off">&nbsp;</i>
            Не активные
        </a>
    </li>
</ul>
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Продукция</span>
    <a class="d-flex align-items-center text-muted" href="#">
        <i data-feather="plus-circle">&nbsp;</i>
    </a>
</h6>
<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('products_index') }}">
            <i data-feather="list">&nbsp;</i>
            Таблица
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('products_archive') }}">
            <i data-feather="archive">&nbsp;</i>
            Архив
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('products_disabled') }}">
            <i data-feather="eye-off">&nbsp;</i>
            Не активные
        </a>
    </li>
</ul>
