{% extends 'base.html.twig' %}

{% set pageTitle = (category is defined) ? category.name : 'Каталог продукции' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block pageHeader %}
    {{ include('components/_page_header.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('catalog/_catalog_sidebar.html.twig') }}
{% endblock %}

{% block body %}
    <div class="col-xs-12 col-sm-12 col-md-9">
        {{ include('catalog/_catalog_breadcrumb..html.twig') }}

        {% block content %}{% endblock %}
        {#{% if category.products is defined and category.products is not empty %}
            {{ include('catalog/catalog_product_list.html.twig') }}
        {% else %}
            {{ include('catalog/catalog_categories_list.html.twig') }}
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                {{ category.contentHtml|default('')|raw }}
            </div>
        </div>#}
    </div>
{% endblock %}
