{% extends 'base.html.twig' %}

{% set categories = (categories is defined) ? categories : category.children %}
{% set pageTitle = (category is defined) ? category.name : 'Каталог продукции' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block pageHeader %}
    {{ include('components/_pageHeader.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('catalog/_catalog_sidebar.twig') }}
{% endblock %}

{% block body %}
    <div class="col-xs-12 col-sm-12 col-md-9">
        {{ include('catalog/_catalog_breadcrumb.twig') }}
        {{ include('catalog/_catalog_categories_list.twig') }}
    </div>
{% endblock %}
